/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;   
    border-radius: 6px;  
    padding: 0;         
    cursor: pointer;
    display: flex;
    font-size: 20px;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#outerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bannerDiv {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#searchBar {
    max-width: 230px;
    font-size: 20px;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}

.open {
    background-color: green;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 16px;
  table-layout: fixed; 
  word-wrap: break-word;
}

table th {
  color: white;
  padding: 2px;
  text-align: center;
  font-size: 14px;
}

table td {
  padding: 6px;
  height: 32px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 14px;
}

.news-card {
    display: flex;
    gap: 12px 24px;
    height: 90px;
    align-items: flex-start;
}

.news-image {
    width: 90px;
    height: 60px;
    object-fit: cover;
    flex-shrink: 0;
}

