/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

#outerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bannerDiv {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#searchBar {
    max-width: 230px;
    font-size: 20px;
}

button {
    width: 80px;
    font-size: 20px;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}

.open {
    background-color: green;
}


